.app {
  width: 100vw;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
}

body {
}

.login-container {
  margin: 5vh;
  display: flex;
  height: 100vh;
}
.login-item {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  width: 30vw;
  height: 80%;
}

form input {
  height: 30px;
  margin: 5px;
  border: none;
  border-bottom: 1px solid #000;
}
button {
  /* background: linear-gradient(45deg, rgb(35, 111, 138), rgb(25, 63, 17)); */
  margin-top: 5px;
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 100%;
  cursor: pointer;
}
.login-btn {
  color: white;
  background: linear-gradient(45deg, rgb(35, 111, 138), rgb(25, 63, 17));
}
.btn-hover:hover {
  opacity: 0.8;
}
.becomeMember-btn {
  background-color: white;
  border: 2px solid transparent; /* Fallback border */
  border-image: linear-gradient(45deg, rgb(35, 111, 138), rgb(25, 63, 17)) 1; /* Linear gradient border */
  border-image-slice: 1;
}
.becomeMember-btn:hover {
  color: white;
  background: linear-gradient(45deg, rgb(35, 111, 138), rgb(25, 63, 17));
}
.createAcc-btn {
  /* background-color: white; */
  /* border: 2px solid transparent; */
  background: linear-gradient(45deg, rgb(23, 68, 21), rgb(25, 63, 17));
  color: white;
}

.login-form,
.createAcc-form {
  padding: 10px;
}
form {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .login-item {
    width: 80vw;
  }
  .login-item:first-child {
    display: none;
  }
}
